Package: cn.ss.productb.WeChatHook
Name: WeChatHook
Version: 0.1-1
Description: 
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: EL
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

